.mainstream-side-nav {
    background: #161623;
}

.logo-text span {
    color: #FFF;
    text-align: center;
    font-family: Oxanium;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.mainstream-sidenavs {
    cursor: pointer;
    transition: all 0.3s ease;
}


.mainstream-sidenavs span {
    color: #616162;
    font-family: Poppins;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.mainstream-sidenavs:hover {

    border-radius: 15px;
    border: 1px solid #5d00ff;
    background: #6846EC;
}

.mainstream-sidenavs.active,
.mainstream-sidenavs.active:hover span {
    border-radius: 15px;
    background: #6846EC;
}

.mainstream-sidenavs.active span {
    color: #FFF;
    font-family: Poppins;
    font-size: 17px;
    font-weight: 600;
    line-height: normal;
}

.mainstream-sidenavs:hover span {
    color: #FFF;
    font-family: Poppins;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.mainstream-side-nav{
    width: 350px;
    height: 100vh;
    padding: 80px 40px;
    transition: width 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 120px;
}


.mainstream-side-nav.collapsed {
    width: 150px;
}

img {
    transition: transform 0.3s ease-in-out;
}

.mainstream-topnavbar {
    background: #111;
    border-bottom: 2px solid #303030;
}

.mainstream-mainbody {
    background: #111;
}

.bell-icon {
    border-radius: 10px;
    background: #161623;
}

.mainstream-searchbar {
    background: #161623;
    padding: 18px 30px;
    border-radius: 10px;
}

.mainstream-searchbar span {
    color: #979797;
    font-family: 'poppins';
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.mainstream-profile span 
{
    color: #FFF;
    font-family: 'poppins';
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.popular-header span 
{
    color: #FFF;
    font-family: 'poppins';
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}



.popular-header p {
    color: #6745EC;
    font-family: 'poppins';
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.popular-card {
    overflow-x: auto;
    scrollbar-width: none;
    scroll-behavior: smooth;
}

.popular-card::-webkit-scrollbar {
    display: none;
}
.mainstream-mainbody::-webkit-scrollbar {
    display: none;
}

.card-of-fate {
    border-radius: 20px;
}

.card-of-fate:hover {
    border: 3px solid #724DFF;
    box-shadow: 0px 4px 20px 2px rgba(25, 17, 255, 0.42);
}

.popular-card img 
{
    border-radius: 20px 20px 0px 0px;
}

.popular-card span {
    color: #979797;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.popular-card-text-holder {
    border-radius: 0px 0px 20px 20px;
    background: #161623;
}

.main-video-card-top button {
    color: #666373;
    font-family: 'Poppins', sans-serif;
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
    transition: color 0.3s, text-decoration 0.3s;
}


.main-video-card-top {
    border-bottom: 1px solid #302F2F;
}

.newStreamer-card {
    border-radius: 15px;
    background: #161623;
}

.newStreamer-main-image {
    border-radius: 15px;
}

.mainstream-video-card-title span {
    color: #FFF;
    font-family: Poppins;
    font-size: 21px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.mainstream-video-card-title p {
    color: #606062;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}