.cover-image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;   
}

.stream-view {
    background-color: #1a1a1a;
    overflow-y:auto;
}

.stream-view::-webkit-scrollbar {
    display: none;
}

.video-content-panel {
    border-radius: 0px 0px 30px 30px;
}

.inside-content-panel h1 {
    font-size: 32px;
    font-family: 'poppins';
    font-weight: 700;
    color: white;
}
.inside-content-panel h2 {
    font-size: 14px;
    font-family: 'poppins';
    font-weight: 500;
    color: white;
}

.view-count {
    margin-top: 5px;
    font-family: 'poppins';
}